
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    margin-bottom: 50px;
  
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover {
    color: #ff5733; /* Change color on hover */
  }
  